

<div class="grid-container">
    
  
  <div class="grid-x align-center" >
    <div class=" cell small-6">
      
<%= render 'form', user: @user %>


</div>
<div class="cell small-6">
 
    <img src="http://www.publico.es/viajes/wp-content/uploads/2016/12/planes-para-disfrutar-madrid-en-navidades-1-wikimedia.jpg">
</div>

</div>
</div>